
{% extends 'base.html' %}

{% block title %}
    home
{% endblock %}

{% block content %}
    <a href="{% url 'acc:logout' %}">logout</a>
    <div id="container">
        
    <h1>To-Do List <a href="{% url 'tdo:add' %}"><i class="fa fa-pencil" id="newTD"></i></a></h1>
    {% for data in data %}
        <ul>
           <li><span><a href="{% url 'tdo:delete' data.todo_id %}"><i class="fa fa-trash"></i></a></span> <a href="{%  url 'tdo:detail' data.todo_id %}" >{{data.title}}</a></li>
        </ul>
    {% endfor %}
    
</div>
{% endblock %}