{% extends 'base.html' %}

{% block title %}
    login
{% endblock %}

{% block content %}

<form action="" method="post"> 
  {% csrf_token %}
  <div class="login-page">
    <p style="color: wheat; font-size:x-large; text-align:left">LOGIN PAGE</p>
    <p style="color: wheat; font-size:small; text-align:left">pls fill in your details to access your account</p> <br>
      <div class="form">
        <form class="login-form">
          <input type="text" name="uName" placeholder="username"/>
          <input type="password" name="pWord" placeholder="password"/>
          <button>login</button>
          <p class="message">Not registered? <a href="{% url 'acc:register' %}">Create an account</a></p>
        </form>
      </div>
    </div>
</form>

{% endblock %}